; Either add this section to your existing OpenSim.ini
; Or copy this directory to $OPENSIM_BASE/bin/addon-modules/EventRecorderModule/config/EventRecorder.ini

[EventRecorder]
  ; Can be either "OpenSimLog" (to record to OpenSim.log) or "MySQL" (to record to MySQL)
  Recorder = OpenSimLog

  ; If using the MySQL Recorder, set this to the MySQL connection string.
  ; Note that Database is different from the OpenSimulator database, though in principle EventRecorder could live there too
  ConnectionString = "Data Source=localhost;Database=eventrecorder;User ID=root;Password=passw0rd;"
